.image-show
  %h1
    %i.icon.ion-image
    = @image.original

  .image
    %h4 原始图片
  
    %a.url.icon.ion-link{href: "/display?url=#{@image.file.url}"}

    %input.copy{type: "text", value: @image.file.url, disabled: true}

  - @image.versions.each do |version|
    - name  = version[:name]
    - value = version[:value]
    - url   = version[:url]
    - cn    = OutputSettings.names_without_type[version[:name]]
  
    .image
      %h4= cn
    
      %span
        - if value.size == 2
          = value[0]
          %span.icon.ion-ios7-close-empty
          = value[1]
        - else
          #{value[0]}
    
      %a.url.icon.ion-link{href: "/display?url=#{url}"}

      %input.copy{type: "text", value: url, disabled: true}
